{
  "swagger" : "2.0",
  "info" : {
    "description" : "For your information, the Yousign API documentation is available at https://dev.yousign.com/",
    "version" : "2.1",
    "title" : "Yousign API Swagger",
    "contact" : {
      "name" : "our technical support",
      "email" : "support@yousign.fr"
    }
  },
  "host" : "api.yousign.com",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/organizations" : {
      "get" : {
        "tags" : [ "Organizations" ],
        "summary" : "List all Organizations",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/OrganizationOutput"
              }
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Organizations"
      }
    },
    "/workspaces" : {
      "get" : {
        "tags" : [ "Workspaces" ],
        "summary" : "List all Workspaces",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WorkspaceOutput"
              }
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Workspaces"
      }
    },
    "/users" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "List all Users",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserOutput"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Users" ],
        "summary" : "Create a new User on Yousign application",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/UserOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "/users/{id}" : {
      "get" : {
        "tags" : [ "Users" ],
        "summary" : "Find a User by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/UserOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Users" ],
        "summary" : "Update a User",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UserInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/UserOutput"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Users" ],
        "summary" : "Delete a User",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "/user_groups" : {
      "get" : {
        "tags" : [ "User Groups" ],
        "summary" : "Get User Group list",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserGroup"
              }
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "User Groups"
      }
    },
    "/user_groups/{id}" : {
      "get" : {
        "tags" : [ "User Groups" ],
        "summary" : "Find a User Group by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/UserGroup"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "User Groups"
      }
    },
    "/files" : {
      "post" : {
        "tags" : [ "Files" ],
        "summary" : "Create a new File",
        "description" : "Used to upload a file in base64 on our platform",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/FileOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "/files/{id}" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Find a File by ID",
        "description" : "Returns all the information regarding the File but without its content (for performance issue).",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/FileOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "/files/{id}/download" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Download a File",
        "description" : "Used to get the base64 content of a file",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "string",
              "description" : "It will return directly the base 64 of the file."
            },
            "examples" : {
              "application/json" : "Base64 content file"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "/files/{id}/duplicate" : {
      "post" : {
        "tags" : [ "Files" ],
        "summary" : "Duplicate a File",
        "description" : "Duplicate a file. It will be create a clone of this file, with a new ID.",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/FileOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "/procedures" : {
      "get" : {
        "tags" : [ "Procedures" ],
        "summary" : "Get Procedure list",
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Return Procedure list based on the status for each Procedure",
          "enum" : [ "active", "finished", "expired", "refused", "draft" ]
        }, {
          "name" : "template",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Used to get Procedure template list",
          "default" : false
        }, {
          "name" : "members",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Get Procedure list for given members (paraph mode)",
          "items" : {
            "type" : "string"
          },
          "x-example" : "/members/f8311c9b-7b37-46d4-b28e-0c40d44b2f95"
        }, {
          "name" : "itemsPerPage",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Number of items per page for the pagination",
          "x-example" : "20"
        }, {
          "name" : "pagination",
          "in" : "query",
          "required" : false,
          "type" : "boolean",
          "description" : "Enable the pagination",
          "x-example" : true
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32",
          "description" : "Page of the pagination",
          "x-example" : 2
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by name (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.firstname",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member firstname (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.lastname",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member lastname (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.phone",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member phone (contains)",
          "x-example" : "+33102030405"
        }, {
          "name" : "members.email",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member email (contains)",
          "x-example" : "test@test.fr"
        }, {
          "name" : "files.name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by file name (contains)",
          "x-example" : "test"
        }, {
          "name" : "createdAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by creation date\n\ncreatedAt[after]=2017-09-18\ncreatedAt[before]=2017-09-18\ncreatedAt[strictly_after]=2017-09-18\ncreatedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by update date\n\nupdatedAt[after]=2017-09-18\nupdatedAt[before]=2017-09-18\nupdatedAt[strictly_after]=2017-09-18\nupdatedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "expiresAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by expire date\n\nexpiresAt[after]=2017-09-18\nexpiresAt[before]=2017-09-18\nexpiresAt[strictly_after]=2017-09-18\nexpiresAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "deletedAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by delete date\n\ndeletedAt[after]=2017-09-18\ndeletedAt[before]=2017-09-18\ndeletedAt[strictly_after]=2017-09-18\ndeletedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "order[createdAt]",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Order by createdAt\n\norder[createdAt]=asc\norder[createdAt]=desc",
          "enum" : [ "asc", "desc" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ProcedureOutput"
              }
            },
            "headers" : {
              "X-Yousign-Pagination-TotalItems" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "Total of items for the pagination",
                "x-example" : 120
              },
              "X-Yousign-Pagination-Page-Last" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "Last page of pagination",
                "x-example" : 4
              },
              "X-Yousign-Pagination-Page-Current" : {
                "type" : "integer",
                "format" : "int32",
                "description" : "Current page of pagination",
                "x-example" : 1
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Procedures" ],
        "summary" : "Create a new Procedure",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProcedureInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ProcedureOutput"
            }
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      },
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/procedures/{id}" : {
      "get" : {
        "tags" : [ "Procedures" ],
        "summary" : "Find a Procedure by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ProcedureOutput"
            }
          },
          "404" : {
            "description" : "Status 404"
          }
        }
      },
      "put" : {
        "tags" : [ "Procedures" ],
        "summary" : "Update a Procedure",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProcedureInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ProcedureOutput"
            }
          },
          "400" : {
            "description" : "Status 400"
          },
          "404" : {
            "description" : "Status 404"
          }
        }
      },
      "delete" : {
        "tags" : [ "Procedures" ],
        "summary" : "Delete a Procedure",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/procedures/{id}/duplicate" : {
      "post" : {
        "tags" : [ "Procedures" ],
        "summary" : "Duplicate a Procedure",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProcedureDuplicateInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ProcedureOutput"
            }
          },
          "404" : {
            "description" : "Status 404"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/export/procedures" : {
      "get" : {
        "tags" : [ "Procedures" ],
        "summary" : "Export Procedure list",
        "produces" : [ "text/csv" ],
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Return Procedure list based on the status for each Procedure",
          "enum" : [ "active", "finished", "expired", "refused", "draft" ]
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by name (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.firstname",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member firstname (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.lastname",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member lastname (contains)",
          "x-example" : "test"
        }, {
          "name" : "members.phone",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member phone (contains)",
          "x-example" : "+33102030405"
        }, {
          "name" : "members.email",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by member email (contains)",
          "x-example" : "test@test.fr"
        }, {
          "name" : "files.name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filter by file name (contains)",
          "x-example" : "test"
        }, {
          "name" : "createdAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by creation date\n\ncreatedAt[after]=2017-09-18\ncreatedAt[before]=2017-09-18\ncreatedAt[strictly_after]=2017-09-18\ncreatedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by update date\n\nupdatedAt[after]=2017-09-18\nupdatedAt[before]=2017-09-18\nupdatedAt[strictly_after]=2017-09-18\nupdatedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "expiresAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by expire date\n\nexpiresAt[after]=2017-09-18\nexpiresAt[before]=2017-09-18\nexpiresAt[strictly_after]=2017-09-18\nexpiresAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "deletedAt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "description" : "Filter by delete date\n\ndeletedAt[after]=2017-09-18\ndeletedAt[before]=2017-09-18\ndeletedAt[strictly_after]=2017-09-18\ndeletedAt[strictly_before]=2017-09-18",
          "items" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "order[createdAt]",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Order by attribut",
          "enum" : [ "asc", "desc" ]
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "string"
            },
            "examples" : {
              "text/csv" : "CSV Content"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/procedures/{id}/remind" : {
      "post" : {
        "tags" : [ "Procedures" ],
        "summary" : "Remind a Procedure",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProcedureRemindInput"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204",
            "schema" : {
              "$ref" : "#/definitions/ProcedureOutput"
            }
          },
          "404" : {
            "description" : "Status 404"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/procedures/{id}/proof" : {
      "get" : {
        "tags" : [ "Procedures" ],
        "summary" : "Get a Procedure proof file",
        "description" : "Get a Procedure proof file",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "string",
              "description" : "Return a base 64 content zip file that contains all members proof file."
            },
            "examples" : {
              "application/json" : "base64 content"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "/members" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "Get all Members",
        "description" : "Returns the list of Members of a organization.\nIt only usefull if you use the query params named \"procedure\" for retrieve all members of a procedure.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "procedure",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "x-example" : "Id for filter about a procedure"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Array of members",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MemberOutput"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Members" ],
        "summary" : "Create a new Member",
        "description" : "Create a new member",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MemberInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/MemberOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Members"
      }
    },
    "/members/{id}" : {
      "put" : {
        "tags" : [ "Members" ],
        "summary" : "Edit a Member",
        "description" : "Edit a member",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MemberInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/MemberOutput"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Members" ],
        "summary" : "Delete a Member",
        "description" : "Delete a member",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Members"
      }
    },
    "/members/{id}/proof" : {
      "get" : {
        "tags" : [ "Members" ],
        "summary" : "Get a proof file of a Member",
        "description" : "Get a proof file of a member",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "string"
            },
            "examples" : {
              "application/json" : "base64 content of the txt file"
            }
          },
          "404" : {
            "description" : "The member does not exist or the member have not signed yet."
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Members"
      }
    },
    "/file_objects" : {
      "post" : {
        "tags" : [ "File Objects" ],
        "summary" : "Create a new File Object",
        "description" : "Create a new fileObject",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileObjectInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/FileObjectOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "File Objects"
      }
    },
    "/file_objects/{id}" : {
      "get" : {
        "tags" : [ "File Objects" ],
        "summary" : "Find a File Object by ID",
        "description" : "Get a File Object",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/FileObjectOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "File Objects" ],
        "summary" : "Update a File Object",
        "description" : "Update a File Object",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FileObjectInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/FileObjectOutput"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "File Objects" ],
        "summary" : "Delete a File Object",
        "description" : "Delete a File Object",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "File Objects"
      }
    },
    "/operations" : {
      "post" : {
        "tags" : [ "Operations" ],
        "summary" : "Create a new Operation",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OperationInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/OperationOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Operations"
      }
    },
    "/operations/{id}" : {
      "get" : {
        "tags" : [ "Operations" ],
        "summary" : "Find an Operation by ID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/OperationOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Operations"
      }
    },
    "/authentications/inwebo/{id}" : {
      "get" : {
        "tags" : [ "Authentications" ],
        "summary" : "Get an Authentication",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationInweboOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Authentications" ],
        "summary" : "Update an inwebo Authentication",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "properties" : {
              "signImage" : {
                "type" : "string",
                "description" : "Image of signature (base 64)"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationInweboOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Authentications"
      }
    },
    "/authentications/sms/{id}" : {
      "get" : {
        "tags" : [ "Authentications" ],
        "summary" : "Find an Authentication by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationSmsOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Authentications" ],
        "summary" : "Update an SMS Authentication",
        "consumes" : [ ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "required" : [ "code" ],
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Code sms received by user"
              },
              "signImage" : {
                "type" : "string",
                "description" : "Image of signature (base 64)"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationSmsOutput"
            }
          },
          "400" : {
            "description" : "Code is not correct or expired",
            "schema" : {
              "type" : "object",
              "properties" : {
                "detail" : {
                  "type" : "string",
                  "description" : "Description of error"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Authentications"
      }
    },
    "/authentications/email/{id}" : {
      "get" : {
        "tags" : [ "Authentications" ],
        "summary" : "Find an Authentication by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationEmailOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Authentications" ],
        "summary" : "Update an Email Authentication",
        "consumes" : [ ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "type" : "object",
            "required" : [ "code" ],
            "properties" : {
              "code" : {
                "type" : "string",
                "description" : "Code sms received by user"
              },
              "signImage" : {
                "type" : "string",
                "description" : "Image of signature (base 64)"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/AuthenticationEmailOutput"
            }
          },
          "400" : {
            "description" : "Code is not correct or expired",
            "schema" : {
              "type" : "object",
              "properties" : {
                "detail" : {
                  "type" : "string",
                  "description" : "Description of error"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Authentications"
      }
    },
    "/consent_processes" : {
      "get" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Get list of Consent Processes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of member (required for anonymous)",
          "x-example" : "/members/17625df4-4ee7-498e-822d-3637c91b6f40"
        }, {
          "name" : "procedure",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of procedure (required if the member attribut is not set)",
          "x-example" : "/procedures/17625df4-4ee7-498e-822d-3637c91b6f40"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ConsentProcessOutput"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Create a new Consent Process",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConsentProcessInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Consent Process"
      }
    },
    "/consent_processes/{id}" : {
      "get" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Get a Consent Process",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "member",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of member (required for anonymous)",
          "x-example" : "/members/17625df4-4ee7-498e-822d-3637c91b6f40"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Update a Consent Process",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConsentProcessInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessOutput"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Delete a Consent Process",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Consent Process"
      }
    },
    "/consent_process_values/{id}" : {
      "get" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Get a Consent Process Value",
        "parameters" : [ {
          "name" : "member",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of member (required for anonymous)",
          "x-example" : "/members/17625df4-4ee7-498e-822d-3637c91b6f40"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessValueOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Consent Process"
      }
    },
    "/consent_process_values" : {
      "get" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Get list of Consent Process Value",
        "parameters" : [ {
          "name" : "member",
          "in" : "query",
          "required" : true,
          "type" : "string",
          "description" : "id of member",
          "x-example" : "/members/17625df4-4ee7-498e-822d-3637c91b6f40"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessValueOutput"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Consent Processes" ],
        "summary" : "Create a new Consent Process Value",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ConsentProcessValueInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ConsentProcessValueOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Consent Process"
      }
    },
    "/signature_uis" : {
      "get" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Get Signature UI list",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SignatureUiOutput"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Create a new Signature UI",
        "description" : "Here is the url format to build on your side to get a custom signature interface with your settings : \nhttps://webapp.yousign.com/procedure/sign?members=~2Fmembers~2F__MEMBER_ID__&signatureUi=~2Fsignature_uis~2F__SIGNATURE_UI_ID__",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SignatureUiInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Signature UIs"
      }
    },
    "/signature_uis/{id}" : {
      "get" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Find a Signature UI by ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of a signature ui",
          "x-example" : "/signature_uis/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Update a Signature UI",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of signature ui to update",
          "x-example" : "/signature_uis/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiInputUpdate"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Delete a Signature UI",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Id of the signature ui",
          "x-example" : "/signature_uis/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Signature UIs"
      }
    },
    "/signature_ui_labels" : {
      "get" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Get Signature UI Labels",
        "description" : "Only usefull if you use a filter with name or signatureUI",
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filtering on name of signature ui labels"
        }, {
          "name" : "signatureUi",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Filtering on id of signature ui resource"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SignatureUiLabelOutput"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Create a new Signature UI Label",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SignatureUiLabelInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiLabelOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Signature UIs"
      }
    },
    "/signature_ui_labels/{id}" : {
      "get" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Find a Signature UI Label by ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "id of signature ui label",
          "x-example" : "/signature_ui_labels/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiLabelOutput"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Update a Signature UI Label",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Id of signature ui labels",
          "x-example" : "/signature_ui_labels/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SignatureUiLabelInput"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/SignatureUiLabelOutput"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Signature UIs" ],
        "summary" : "Delete a Signature UI Label",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "Id of signature ui label",
          "x-example" : "/signature_ui_labels/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "204" : {
            "description" : "Status 204"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Signature UIs"
      }
    },
    "/server_stamps" : {
      "post" : {
        "tags" : [ "Server Stamps" ],
        "summary" : "Create a Server Stamp",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ServerStampInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/ServerStampOutput"
            }
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      },
      "x-restlet" : {
        "section" : "Server Stamp"
      }
    },
    "/server_stamps/{id}" : {
      "get" : {
        "tags" : [ "Server Stamps" ],
        "summary" : "Find a Server Stamp by ID",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/ServerStampOutput"
            }
          },
          "404" : {
            "description" : "Status 404"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Server Stamp"
      }
    },
    "/check-document/identities" : {
      "post" : {
        "tags" : [ "Check Documents" ],
        "summary" : "Verify an identity document (passport, id cards)",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CheckDocumentIdentitiesInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/CheckDocumentIdentitiesOutput"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Check Document"
      }
    },
    "/check-document/identities/{id}" : {
      "get" : {
        "tags" : [ "Check Documents" ],
        "summary" : "Get informations about an identity document (passport, id cards)",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/CheckDocumentIdentitiesOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Check Document"
      }
    },
    "/check-document/bank_accounts" : {
      "post" : {
        "tags" : [ "Check Documents" ],
        "summary" : "Verify a bank document (RIB)",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "The MIME type of the body of the request",
          "x-example" : "application/json"
        }, {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CheckDocumentBankAccountsInput"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "$ref" : "#/definitions/CheckDocumentBankAccountsOutput"
            }
          },
          "400" : {
            "description" : "Status 400"
          }
        }
      },
      "x-restlet" : {
        "section" : "Check Document"
      }
    },
    "/check-document/bank_accounts/{id}" : {
      "get" : {
        "tags" : [ "Check Documents" ],
        "summary" : "Get informations about a bank document (RIB)",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "required" : true,
          "type" : "string",
          "description" : "Authentication credentials for HTTP authentication",
          "x-example" : "Bearer {{access_token}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/CheckDocumentBankAccountsOutput"
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ],
      "x-restlet" : {
        "section" : "Check Document"
      }
    }
  },
  "securityDefinitions" : {
    "ApiKey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "ConfigEmailTemplate" : {
      "type" : "object",
      "required" : [ "message", "subject", "to" ],
      "properties" : {
        "to" : {
          "type" : "array",
          "description" : "Reference or email of recipients",
          "items" : {
            "type" : "string",
            "description" : "You can given an array of recipients.\n\nA recipient can be a specific email like `my-user@email.com` or a variable which is available in the list below.",
            "enum" : [ "@members", "@members.auto", "@members.pending", "@members.processing", "@members.done", "@members.refused", "@member", "@creator", "@subscribers", "@subscribers.groupName1", "@subscribers.groupName2" ]
          }
        },
        "subject" : {
          "type" : "string",
          "description" : "Subject of the mail"
        },
        "message" : {
          "type" : "string",
          "description" : "Object of the mail"
        },
        "fromName" : {
          "type" : "string",
          "description" : "Modify the from name",
          "default" : "Yousign"
        }
      },
      "x-restlet" : {
        "section" : "Config"
      }
    },
    "OrganizationOutput" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Organization ID",
          "example" : "/organizations/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "name" : {
          "type" : "string",
          "description" : "Organization name"
        },
        "url" : {
          "type" : "string",
          "description" : "Custom URL for the Organization (internal usage only, should not be used)"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Created date of the object"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Updated date of the object"
        },
        "fSso" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "maxUsers" : {
          "type" : "number",
          "description" : "Internal usage, should not be used"
        },
        "procedureRelatedFilesEnable" : {
          "type" : "boolean",
          "description" : "Defined if the organization anable the related files"
        },
        "subscriptions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "autoCollection" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "vatNumber" : {
          "type" : "string",
          "description" : "Internal usage, should not be used"
        },
        "billingAddress" : {
          "$ref" : "#/definitions/OrganizationBillingAddress"
        },
        "inAppSupport" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "inAppUpdates" : {
          "type" : "string",
          "description" : "Internal usage, should not be used"
        },
        "fileTemplate" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fArchive" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fUserPermissions" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fProcedureTemplate" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fProcedureReminderAuto" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fApi" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fCheckdocument" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fProcedureCreate" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fSignatureUi" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fServerStamp" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fOperationLevelNone" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fConsentProcess" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fOperationLevelAdvanced" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fOperationCustomModeEmail" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fDynamicFields" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "samlIdentityProvider" : {
          "type" : "string",
          "description" : "Internal usage, should not be used"
        },
        "passwordPolicyPattern" : {
          "type" : "string",
          "description" : "Pattern of the password policy for the organization"
        },
        "passwordPolicyDescription" : {
          "type" : "string",
          "description" : "Description for the password policy"
        },
        "userActivation" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        },
        "fProcedureTemplatePermissions" : {
          "type" : "boolean",
          "description" : "Internal usage, should not be used"
        }
      },
      "x-restlet" : {
        "section" : "Organizations"
      }
    },
    "OrganizationBillingAddress" : {
      "type" : "object",
      "properties" : {
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "company" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "line1" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "zip" : {
          "type" : "string"
        }
      },
      "x-restlet" : {
        "section" : "Organizations"
      }
    },
    "WorkspaceOutput" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Object's ID",
          "example" : "/workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "name" : {
          "type" : "string",
          "description" : "Workspace name"
        },
        "config" : {
          "$ref" : "#/definitions/WorkspaceConfig"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date-time"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date-time"
        },
        "emailProcedureFromName" : {
          "type" : "string"
        },
        "contactFieldVisibility" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "slug" : {
          "type" : "string"
        },
        "hasCustomLogo" : {
          "type" : "boolean"
        }
      },
      "x-restlet" : {
        "section" : "Workspaces"
      }
    },
    "WorkspaceConfig" : {
      "type" : "object",
      "properties" : {
        "authenticationModes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "sms", "inwebo" ]
          }
        },
        "procedure" : {
          "$ref" : "#/definitions/WorkspaceConfigProcedure"
        },
        "email" : {
          "$ref" : "#/definitions/WorkspaceConfigEmail"
        }
      },
      "x-restlet" : {
        "section" : "Workspaces"
      }
    },
    "WorkspaceConfigProcedure" : {
      "type" : "object",
      "properties" : {
        "authenticationModes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "sms", "inwebo" ]
          }
        }
      },
      "x-restlet" : {
        "section" : "Workspaces"
      }
    },
    "WorkspaceConfigEmail" : {
      "type" : "object",
      "properties" : {
        "procedure.started" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "procedure.finished" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "procedure.refused" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "procedure.expired" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "procedure.deleted" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "member.started" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "member.finished" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        },
        "comment.created" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigEmailTemplate"
          }
        }
      },
      "x-restlet" : {
        "section" : "Workspaces"
      }
    },
    "UserInput" : {
      "type" : "object",
      "required" : [ "email", "firstname", "lastname" ],
      "properties" : {
        "firstname" : {
          "type" : "string",
          "description" : "User's firstname"
        },
        "lastname" : {
          "type" : "string",
          "description" : "User's lastname"
        },
        "email" : {
          "type" : "string",
          "description" : "User's email address (This field is allowed only during creation)"
        },
        "title" : {
          "type" : "string",
          "description" : "User's job title"
        },
        "phone" : {
          "type" : "string",
          "description" : "User's phone number (mobiles and landline telephones are supported). Phone number must be formatted to E164 (https://en.wikipedia.org/wiki/E.164) which includes the symbol '+' and the country code. For example : +33612131315. All countries are supported."
        },
        "permission" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "ROLE_ADMIN", "ROLE_MANAGER", "ROLE_SIGNER" ]
          }
        },
        "group" : {
          "type" : "string",
          "description" : "User's UserGroup",
          "pattern" : "^/user_groups/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$",
          "example" : "/user_groups/4f3ef3ac-d234-4abf-8dc9-4c7f37d34402"
        },
        "config" : {
          "type" : "object"
        },
        "defaultSignImage" : {
          "type" : "string",
          "description" : "ID of file image",
          "pattern" : "^/files/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$",
          "example" : "/files/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "notifications" : {
          "type" : "object",
          "description" : "Defines if the notifications are enable ou disable for entities",
          "properties" : {
            "procedure" : {
              "type" : "boolean"
            }
          }
        }
      },
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "UserOutput" : {
      "type" : "object",
      "required" : [ "email", "firstname", "lastname" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Object's ID",
          "example" : "/users/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "firstname" : {
          "type" : "string",
          "description" : "User's firstname"
        },
        "lastname" : {
          "type" : "string",
          "description" : "User's lastname"
        },
        "email" : {
          "type" : "string",
          "description" : "User's email address"
        },
        "title" : {
          "type" : "string",
          "description" : "User's title"
        },
        "phone" : {
          "type" : "string",
          "description" : "User's phone number (mobiles and landline telephones are supported). Phone number must be formatted to E164 (https://en.wikipedia.org/wiki/E.164) which includes the symbol '+' and the country code. For example : +33612131315. All countries are supported."
        },
        "status" : {
          "type" : "string",
          "description" : "User's status",
          "enum" : [ "not_activated", "activated" ]
        },
        "organization" : {
          "type" : "string",
          "description" : "ID of the organization the user belongs to",
          "example" : "/organizations/b7599d85-4076-4752-94fb-8fbe10147e60"
        },
        "workspaces" : {
          "type" : "array",
          "description" : "List of workspaces to which the user is connected and has access",
          "items" : {
            "$ref" : "#/definitions/UserWorkspaceOutput"
          }
        },
        "permission" : {
          "type" : "string"
        },
        "group" : {
          "$ref" : "#/definitions/UserGroup"
        },
        "createdAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Created date of the object"
        },
        "updatedAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Updated date of the object"
        },
        "deleted" : {
          "type" : "boolean",
          "description" : "Defines if the User is deleted or not"
        },
        "deletedAt" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Defines the date where the user has been deleted"
        },
        "config" : {
          "type" : "object"
        },
        "inweboUserRequest" : {
          "type" : "string",
          "description" : "Internal usage, should not be used",
          "example" : "/inwebo_user_requests/b7599d85-4076-4752-94fb-8fbe10147e60"
        },
        "samlNameId" : {
          "type" : "string",
          "description" : "ID of SAML"
        },
        "defaultSignImage" : {
          "type" : "string",
          "description" : "ID of the default sign image.",
          "example" : "/files/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "notifications" : {
          "type" : "object",
          "description" : "Defines if the notifications are enable ou disable for entities",
          "properties" : {
            "procedure" : {
              "type" : "boolean"
            }
          },
          "example" : "{\n  \"procedure\": true\n}"
        },
        "fastSign" : {
          "type" : "boolean",
          "description" : "Defines if the fast signature is available for the user on the Yousign application"
        },
        "fullName" : {
          "type" : "string",
          "description" : "User's full name"
        }
      },
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "InweboUserRequest" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Id of the object",
          "example" : "/inwebo_user_requests/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        }
      },
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "UserWorkspaceOutput" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Object's ID",
          "example" : "/workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "name" : {
          "type" : "string",
          "description" : "Workspace name"
        }
      },
      "x-restlet" : {
        "section" : "Users"
      }
    },
    "UserGroup" : {
      "type" : "object",
      "required" : [ "name" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Id of the object",
          "example" : "/user_groups/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the UserGroup"
        },
        "permissions" : {
          "type" : "array",
          "description" : "Permissions of UserGroup",
          "items" : {
            "type" : "string",
            "enum" : [ "procedure_write", "procedure_template_write", "procedure_create_from_template", "sign", "workspace", "user", "api_key", "contact", "procedure_custom_field", "signature_ui", "server_stamp", "certificate", "archive" ]
          }
        }
      },
      "x-restlet" : {
        "section" : "User Groups"
      }
    },
    "FileInput" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the file"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of the file",
          "enum" : [ "signable", "attachment" ]
        },
        "password" : {
          "type" : "string",
          "description" : "Password for protected PDF file"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the file"
        },
        "metadata" : {
          "type" : "object",
          "description" : "Metadata of the file",
          "properties" : {
            "key1" : {
              "type" : "string"
            },
            "key2" : {
              "type" : "integer"
            }
          }
        },
        "content" : {
          "type" : "string",
          "description" : "Content in base 64 of the file"
        },
        "procedure" : {
          "type" : "string",
          "description" : "Id of the procedure",
          "pattern" : "^/procedures/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$",
          "example" : "/procedures/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "position" : {
          "type" : "integer",
          "format" : "int32",
          "default" : 0
        }
      },
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "FileOutput" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Id of the object",
          "example" : "/files/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "name" : {
          "type" : "string",
          "description" : "Name of the file"
        },
        "type" : {
          "type" : "string",
          "description" : "Type of file",
          "enum" : [ "signable", "sign_image", "attachment" ]
        },
        "contentType" : {
          "type" : "string",
          "description" : "Type of content",
          "example" : "application/pdf"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the file"
        },
        "createdAt" : {
          "type" : "string",
          "description" : "Created date of the object"
        },
        "updatedAt" : {
          "type" : "string",
          "description" : "Updated date of the object"
        },
        "metadata" : {
          "type" : "object",
          "description" : "Metadata of the file",
          "properties" : {
            "key1" : {
              "type" : "string"
            },
            "key2" : {
              "type" : "integer"
            }
          }
        },
        "workspace" : {
          "type" : "string",
          "description" : "Id of workspace",
          "pattern" : "^/workspaces/[0-9a-f]{8}-([0-9a-f]{4}-){3}[0-9a-f]{12}$",
          "example" : "/workspaces/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "creator" : {
          "type" : "string",
          "description" : "Id of creator",
          "example" : "/users/9d1ede2b-5687-4440-bdc8-dd0bc64f668c"
        },
        "sha256" : {
          "type" : "string",
          "description" : "File hash",
          "example" : "23203f9264161714cdb8d2f474b9b641e6a735f8cea4098c40a3cab8743bd749"
        },
        "position" : {
          "type" : "integer",
          "format" : "int32",
          "default" : 0
        }
      },
      "x-restlet" : {
        "section" : "Files"
      }
    },
    "ProcedureInput" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of procedure"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of procedure"
        },
        "expiresAt" : {
          "type" : "string",
          "format" : "date",
          "description" : "Expiration date. The procedure will be out of usage after this date."
        },
        "template" : {
          "type" : "boolean",
          "description" : "Defines if the procedure is a template (if true). A template could be used by a procedure to get all properties of the template. Check parent parameter for more information."
        },
        "ordered" : {
          "type" : "boolean",
          "description" : "Defines an order for the procedure process. If true, position of each member will be used to define the validation workflow."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Metadata of the file (do not forget to replace key1 and key2 by your own custom values)",
          "properties" : {
            "key1" : {
              "type" : "string"
            },
            "key2" : {
              "type" : "integer"
            }
          }
        },
        "config" : {
          "$ref" : "#/definitions/ProcedureConfig"
        },
        "members" : {
          "type" : "array",
          "description" : "List of members, REQUIRED if start field is true.",
          "items" : {
            "$ref" : "#/definitions/MemberInput"
          }
        },
        "start" : {
          "type" : "boolean",
          "description" : "Defines if the procedure has been started. If false, the procedure status will be draft.",
          "default" : true
        },
        "relatedFilesEnable" : {
          "type" : "boolean",
          "description" : "Defines if related files are available. Used only for organization that have this option."
        },
        "archive" : {
          "type" : "boolean",
          "description" : "Defines if the files of the procedure must be archived (Organization should be allowed)",
          "default" : false
        }
      },
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "ProcedureDuplicateInput" : {
      "type" : "object",
      "properties" : {
        "start" : {
          "type" : "boolean",
          "description" : "Defines if the new procedure should be started after the duplication",
          "default" : false,
          "example" : true
        },
        "template" : {
          "type" : "boolean",
          "description" : "Override the parent value for this property and defines if the new procedure should be a template or not",
          "example" : false
        }
      },
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "ProcedureConfig" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "$ref" : "#/definitions/ProcedureConfigEmail"
        },
        "reminders" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProcedureConfigReminder"
          }
        },
        "webhook" : {
          "$ref" : "#/definitions/ProcedureConfigWebhook"
        }
      },
      "x-restlet" : {
        "section" : "Procedures"
      }
    },
    "ProcedureConfigWebhook" : {
      "type" : "object",
      "properties" : {
        "procedure.started" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigWebhookTemplate"
          }
        },
        "procedure.finished" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConfigWebhookTemplate"
          }
        },
[...]
